################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WS2812Util/bin/Debug/net6.0-windows
/WS2812Util/obj/Debug/net6.0-windows
